* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(61, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background-color: white;
}
